<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col-12 col-sm-8 col-md-6 col-xl-3 col-xxl-12">
                   <label for="" class="form-label">Name</label>
                   <input name="name"[(ngModel)]="name" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-8 col-md-6 col-xl-3 col-xxl-12">
                    <label for="" class="form-label">Describe Friend</label>
                   <textarea name="DescribeYourFriend"[(ngModel)]="DescribeYourFriend" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <div class="col-12 col-sm-8 col-md-6 col-xl-3 col-xxl-12">
                    <label for="" class="form-label">Friend NickName</label>
                    <input friendNickName="friendNickName"[(ngModel)]="friendNickName" type="text" class="form-control">
                   
                </div>
                <div class="col-12 col-sm-8 col-md-6 col-xl-12 xol-xxl-12">
                    <button (click)="readValue()" class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
