<app-home></app-home>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col-12 col-sm-8 col-md-6 col-xl-3 col-xxl-12">
                    <label for="" class="formlabel">Username</label>
                    <input name ="username" [(ngModel)]="username" type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-8 col-md-6 col-xl-3 col-xxl-12">
                    <label for="" class="form-label">Password</label>
                    <input password="password" [(ngModel)]="password" type="password" name="" id="" class="form-control">
                </div>
                <div class="col-12 col-sm-8 col-md-6 col-xl-3 col-xxl-12">
                    <button (click)="login()" class="btn btn-success">Submit</button>
                </div>
                <div class="text-center small">For employee Registration <a routerLink="/empsignup">Click Here</a></div>
            </div>
        </div>
    </div>
</div>
