
<div class="container">
    <div class="row ">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">NeST DIGITAL DEVELOPMENT CENTERS</h5>
                  <h6 class="card-subtitle mb-2 text-muted">NeST Towers, University junction,
                    Kalamassery, Kochi, Kerala,
                    India- 682 033
                    Ph: +91-484-6701000</h6>
                </div>
              </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">NeST DIGITAL CORPORATE OFFICE
                </h5>
                  <h6 class="card-subtitle mb-2 text-muted">Plot No. 2, Cochin Special Economic Zone
                    (CSEZ), Kakkanad, Cochin – 682 037, India
                    Phone: +91-484-661 4300</h6>
                </div>
              </div>
        </div>
    </div>
</div>

  
