<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col-12 col-sm-8 col-md-6 col-xl-3 col-xxl-12">
                    <label for="" class="form-label">ID</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-8 col-md-6 col-xl-3 col-xxl-12">
                    <label for="" class="form-label">First Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-8 col-md-6 col-xl-3 col-xxl-12">
                    <label for="" class="form-label">Last Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-8 col-md-6 col-xl-3 col-xxl-12">
                    <label for="" class="form-label">House No</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-8 col-md-6 col-xl-3 col-xxl-12">
                    <label for="" class="form-label">Street Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-8 col-md-6 col-xl-3 col-xxl-12">
                    <label for="" class="form-label">Pincode</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-8 col-md-6 col-xl-3 col-xxl-12">
                    <label for="" class="form-label">District</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-8 col-md-6 col-xl-3 col-xxl-12">
                    <label for="" class="form-label">State</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-8 col-md-6 col-xl-3 col-xxl-12">
                    <label for="" class="form-label">Country</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-8 col-md-6 col-xl-3 col-xxl-12">
                    <label for="" class="form-label">Mobile Number</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-8 col-md-6 col-xl-3 col-xxl-12">
                    <label for="" class="form-label">EmailID</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-8 col-md-6 col-xl-3 col-xxl-12">
                    <label for="" class="form-label">Parent Name </label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-8 col-md-6 col-xl-3 col-xxl-12">
                    <label for="" class="form-label">Gender</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-8 col-md-6 col-xl-3 col-xxl-12">
                    <label for="" class="form-label">Highest Degree</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-8 col-md-6 col-xl-3 col-xxl-12">
                    <label for="" class="form-label">Year Of Experience</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-8 col-md-6 col-xl-3 col-xxl-12">
                    <label for="" class="form-label">Joining Date</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-8 col-md-6 col-xl-3 col-xxl-12">
                    <label for="" class="form-label">Username</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-12 col-sm-8 col-md-6 col-xl-3 col-xxl-12">
                    <label for="" class="form-label">Password</label>
                    <input password="password"[(ngModel)]="password" type="password" name="" id="" class="form-control">
                </div>
                <div class="col-12 col-sm-8 col-md-6 col-xl-3 col-xxl-12">
                    <label for="" class="form-label">Confirm Password</label>
                    <input confirmpassword="confirmpassword"[(ngModel)]="confirmpassword" type="password" name="" id="" class="form-control">
                </div>
                <div class="col-12 col-sm-8 col-md-6 col-xl-3 col-xxl-12">
                    <button (click)="readValue()" class="btn btn-primary">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</div>
